
body {
    background-color: #C4C4C4;
}
.mycv {
    width: 800px;
    margin: 50px auto;
    display: flex;
    background-color: white;
    padding: 10px;
}
.informationLeft {
    width: 35%;
    background-color: #26252C;
}
/* img Start */
.informationLeft__img {
    width: 100%;
    height: 312px;
}
.informationLeft__img img {
    width: 100%;
    height: 312px;
    object-fit: cover;
    object-position: top;
}
/* img End */

.informationLeft__BigContent {
    padding: 20px 30px;
}
.informationLeft__BigContent--Child {
    padding: 20px 0px;
    border-bottom: 1px solid #0175b2;
}
.BigContent--Child--Titlle {
    color: white;
    font-size: 20px;
}
.BigContent--Child--Content {
    color: #84838b;
}
#phone, #email {
    color: white;
}


/* Code informationRight Start */
.informationRight {
    width: 65%;
    padding: 20px 40px;
}
.informationRight__Block {
    padding: 20px 0px;
    border-bottom: 1px solid #0175b2;
}
.Block--Data--Child {
    display: flex;
}
.Data--Child--Left, .Data--Child--LeftLast {
    width: 132px;
    padding-right: 35px;
    position: relative;
}
.Data--Child--Right {
    width: calc(100% - 132px);
    padding-left: 35px;
    margin-bottom: 20px;
}
.Data--Child--Right p {
    margin: 0px;
    padding: 0px;
}
.Data--Child--Left::before {
    content: "";
    background: #fff;
    border: 1px solid #26252d;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0px;
    top: 5px;
}
.Data--Child--Left::after {
    content: "";
    width: 3px;
    height: 90%;
    position: absolute;
    background: #0175b2;
    right: 4px;
    top: 15px;
}
.Data--Child--LeftLast::before {
    content: "";
    background: #fff;
    border: 1px solid #26252d;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0px;
    top: 5px;
}

.informationRight__Block--TitleHeader {
    font-size: 32px;
    color: #26252d;
    font-weight: 700;
    letter-spacing: 3px;
}
.informationRight__Block--Title {
    font-size: 16px;
    font-weight: 700;
    color: #26252d;
    letter-spacing: 3px;
}
/* Code informationRight Start */

/* Skill Start */
.accordion .link {
    display: block;
    padding: 60px 10px 0px 40px;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 700;
    position: relative;
}
.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #1a1a1a;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.accordion li i.fa-chevron-left {
    right: 12px;
    left: auto;
    font-size: 16px;
}
  
.accordion li.open .link { color: #1a1a1a; }
  
.accordion li.open i { color: #0175b2; }
  
.accordion li.open i.fa-chevron-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.submenu {
    display: none;
    font-size: 13px;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
}
.submenu a {
    display: block;
    text-decoration: none;
    color: #1a1a1a;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
ul { 
    list-style-type: none; 
}
/* Skill End */